.addUserBox{
    background-color: #fff;
    border-radius: 12px;
    margin: 50px 80px;
    form {
        label {
            color: #726d6d;
            font-weight: 500;
            font-size: 0.9rem ;
            padding-bottom: 8px;
        }
        input{
            background-color: #F8F8F8;
            &::placeholder{
                color: #6C6C6C;
                font-family: 400;
                font-size: 0.7rem;
            }
        }
    }
}