.sidebarContainer {
    background-color: #F2EAE1;
    position: relative;
    box-shadow: 0px 5px 5px grey;

    .ps-sidebar-container {
        .SidebarHeader {
            font-size: 1.2rem;
            font-weight: 700;
            border-left: 5px solid #FEAF00;
        }


        .ps-menu-button {
            padding-right: 30px;
            padding-left: 30px;
            justify-content: center;

            &.active {
                background-color: #FEAF00;
                border-radius: 8px;
            }

            span.ps-menu-label, .ps-menu-icon {
                color: #000;
                font-weight: 500;
                font-size: 1rem;
            }
        }

        .logoutDiv {
            bottom: 5px;

            span.ps-menu-label {
                color: red;
            }
        }
    }
}

.componentsHeader {
    border-bottom: 1px solid #E5E5E5;
}

.outletDiv {
    background-color: #f8f8f8;
    height: 98vh !important;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.componentsTitle {
    font-size: 1.2rem;
    font-weight: 700;
}


.loading-icon {
    font-size: 2rem;
    animation: spin 2s infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(720deg);
    }
}

.formBox {
    background-color: #fff;
    border-radius: 12px;
    margin: 50px 80px;

    @media screen and (max-width:700px) {
        overflow-y: auto;
    }

    form {
        label {
            color: #726d6d;
            font-weight: 500;
            font-size: 0.9rem;
            padding-bottom: 8px;
        }

        input.form-control {
            background-color: #F8F8F8 !important;

            &::placeholder {
                color: #6C6C6C;
                font-family: 400;
                font-size: 0.7rem;
            }
        }

        button.bg-mustard {
            width: 30%;

            @media screen and (max-width:992px) {

                width: 70%;
            }
        }
    }
}